---
import { CONTACT, LINKS } from '~/data/site';
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div>
    <h4>Joshinkan Dojo</h4>
    <p>The Center for Aikido Study is a 501(c) nonprofit. All instructors volunteer their time. All dues maintain the dojo.</p>
  </div>
  <div>
    <h4>Visit</h4>
    <ul>
      <li>{CONTACT.address.street}</li>
      <li>{CONTACT.address.cityStateZip}</li>
      <li>{CONTACT.phone}</li>
    </ul>
  </div>
  <div>
    <h4>Elsewhere</h4>
    <ul>
      <li><a href={LINKS.aaa} target="_blank" rel="noopener">Aikido Association of America</a></li>
      <li><a href={LINKS.facebook} target="_blank" rel="noopener">Facebook</a></li>
      <li><a href={LINKS.triangle} target="_blank" rel="noopener">Triangle Aikido</a></li>
    </ul>
  </div>
  <div class="copyright">
    <span>© {year} The Center for Aikido Study, Joshinkan Dojo</span>
    <span>Cary, North Carolina</span>
  </div>
</footer>
